/*
  Width
*/

mobile-up()
  @media screen and (min-width: mobile-breakpoint)
    {block}

tablet-up()
  @media screen and (min-width: tablet-breakpoint)
    {block}

desktop-up()
  @media screen and (min-width: desktop-breakpoint)
    {block}

large-up()
  @media screen and (min-width: large-breakpoint)
    {block}

xlarge-up()
  @media screen and (min-width: xlarge-breakpoint)
    {block}

/*
  Height
*/

small-height-up()
  @media screen and (min-height: small-height-breakpoint)
    {block}

medium-height-up()
  @media screen and (min-height: medium-height-breakpoint)
    {block}

large-height-up()
  @media screen and (min-height: large-height-breakpoint)
    {block}
