html
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  backface-visibility hidden

  &:not(.ie)
    text-shadow 0 1px 1px rgba(0,0,0,0.004)

button
  outline none
  cursor pointer
  background none
  border none
  margin 0
  padding 0

a
  text-decoration none
  color #000

*, *:after, *:before
  box-sizing border-box

sup
  vertical-align super

sub
  vertical-align sub

html, body
  font-size root-font-size px
  font-family default-ff
  font-variant-ligatures no-common-ligatures
