@import './breakpoints'

.container
  padding-left gutter-width
  padding-right gutter-width
  margin-right auto
  margin-left auto
  width 100%
  max-width base-width

  +mobile-up()
    max-width mobile-width

  +tablet-up()
    max-width tablet-width

  +desktop-up()
    max-width desktop-width

  +large-up()
    max-width large-width

  +xlarge-up()
    max-width xlarge-width


row()
  display flex
  flex-wrap wrap
  margin-left -1 * gutter-width
  margin-right -1 * gutter-width


column()
  position relative
  width 100%
  min-height 1px
  padding-right gutter-width
  padding-left gutter-width
  flex 0 0 100%

size(size)
  column()
  flex 0 0 floor(percentage(size/columns))
  max-width floor(percentage(size/columns))

push(size)
  margin-left floor(percentage(size/columns))

.row
  row()

  &.center
    justify-content center

  &.v-center
    align-items center

.column
  column()
