@import './variables'

centered()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

flex-parent-center()
  display flex
  justify-content center
  align-items center

hidden()
  visibility hidden
  opacity 0

shown()
  visibility visible
  opacity 1

/**
* Text
*/

fsz(value)
  font-size value px
  font-size (value / root-font-size) rem

font(ff = default-ff, fsz = 16, lh = 16, fw = 400, color = text-color, fs = normal)
  font-family ff
  fsz(fsz)
  font-weight fw
  font-style fs
  color color
  if lh == normal
    line-height lh
  else
    line-height lh px

title()
  font(roboto-ff, 30, normal, 700, title-color, normal)

subtitle()
  font(roboto-ff, 30, normal, 300, text-color, normal)

text()
  font(roboto-ff, 16, normal, 400, text-color, normal)

text-italic()
  font(roboto-ff, 16, normal, 400, text-color, italic)
