@import './variables'

centered()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

flex-parent-center()
  display flex
  justify-content center
  align-items center

full-parent()
  position absolute
  top 0
  left 0
  bottom 0
  right 0

hidden()
  visibility hidden
  opacity 0

shown()
  visibility visible
  opacity 1

/**
* Text
*/

fsz(value)
  font-size value px
  font-size (value / root-font-size) rem

font(ff = default-ff, fsz = 16, lh = 16, fw = 400, color = text-color, fs = normal)
  font-family ff
  fsz(fsz)
  font-weight fw
  font-style fs
  color color
  line-height floor(lh/fsz, 2)

title()
  font(roboto-ff, 30, 32, 700, title-color, normal)

subtitle()
  font(roboto-ff, 30, 32, 300, text-color, normal)

text()
  font(roboto-ff, 16, 18, 400, text-color, normal)

text-italic()
  font(roboto-ff, 16, 18, 400, text-color, italic)
