/**

FONTS

**/

roboto-ff = Roboto, Arial, sans-serif
default-ff = roboto-ff
root-font-size = 10px

/**

COLORS

**/

text-color = #959595
title-color = #012345

/**

GRID

**/

// container widths
base-width = 100%
mobile-width = 100%
tablet-width = 100%
desktop-width = 950px
large-width = 1100px
xlarge-width = 1180px

columns = 12
gutter-width = 15px

// breakpoints
mobile-breakpoint = 576px
tablet-breakpoint = 768px
desktop-breakpoint = 992px
large-breakpoint = 1200px
xlarge-breakpoint = 1440px

small-height-breakpoint = 500px
medium-height-breakpoint = 720px
large-height-breakpoint = 970px

/**

Z-INDEX

**/
z-index-debug = 2000
z-index-modal = 1900
