/**

FONTS

**/

roboto-ff = Roboto, Arial, sans-serif
default-ff = roboto-ff
root-font-size = 10px

/**

COLORS

**/

text-color = #959595
title-color = #012345

/**

GRID

**/

// container widths
base-width = 100%
mobile-width = 540px
tablet-width = 720px
desktop-width = 960px
large-width = 1140px
xlarge-width = 1280px
xxlarge-width = 1440px

columns = 12
gutter-width = 15px

// breakpoints
mobile-breakpoint = 576px
tablet-breakpoint = 768px
desktop-breakpoint = 992px
large-breakpoint = 1200px
xlarge-breakpoint = 1440px
xxlarge-breakpoint = 1600px

last-breakpoint = xxlarge-breakpoint

small-height-breakpoint = 500px
medium-height-breakpoint = 720px
large-height-breakpoint = 970px

/**

Z-INDEX

**/
z-index-debug = 2000
z-index-modal = 1900
